* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-align: center;
    color: #fff;
}

body {
    font-size: 1.6rem;
}

header {
    height: 10rem;
    background-color: #00cec9;
}

main {
    height: 41.5rem;
    background-color: #a29bfe;
}

footer {
    height: 10rem;
    background-color: #ffeaa7;
}